<div class="container col-md-6 offset-md-3">
    <br>
    <h1>Tourist Registration Application</h1><br> <br>
    <div class="text-center">
        <img src="../../assets/img/tourist-image.jpg" class="img-thumbnail" alt="..."><br>
    </div><br>
    <p>
        This is an App used by tourist. This app does Registration and Viewing of tourists. <br>
    </p><br> <br>
    <button class="btn btn-success" (click)="goToRegisterPage()" style="height:80px; width: 650px;" >Register Tourist</button>
    <br><br> <br>
</div>