h1{
    text-align: center;
    font-family: 'Days One', sans-serif;
    color:black
}


label{
    font-size: large;
    font-weight: 600;
    color: rgb(16, 111, 194);
}

.radioBtn{
    width: auto;
    color: black;
}

input{
    width: 300px;
}
span{
    font-family: 'Montserrat Subrayada', sans-serif;
    
    font-size: smaller;
}

div{
    padding: 10px;
}